.cover {
    height: 100%;
}

.cover > .row {
    width: 100%;
}

label {
    font-weight: bold;
}

.nav-link {
    cursor: pointer;
}

.list-group-item {
    border-left: 0;
    border-right: 0;
}

.list-group-item:first-child {
    border-top: 0;
}

.list-group-item:last-child {
    border-bottom: 0;
}

.list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0;
}